
html body {
  background: #2e272d none;
  overflow: hidden;
}

.pageflip-html-viewer-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 60px;
  width: 100%;
  overflow: auto;
}

.admin-menu .pageflip-html-viewer-container {
  top: 22px;
}

.pageflip-html-viewer-content-container {
  margin: 0 auto;
  overflow: hidden;
}

#pageflip-status,
#pageflip-navigation {
  margin: 4px;
  text-align: center;
  font-size: 13px;
}
a.pageflip-navigation-prev {
}
a.pageflip-navigation-next {
}

#pageflip-share {
  float: left;
  text-align: left;
  /* make this widget as wide as voting widget so middle stuff can be centered */
  width: 166px;
  padding: 0 0 0 20px;
}

#pageflip-switch-link {
  float: left;
  position: relative;
  top: -7px;
}

#pageflip-html-viewer-chapter-form {
  margin: 0 12px;
}
#pageflip-html-viewer-chapter-form,
#pageflip-html-viewer-chapter-form div {
  display: inline;
}

#pageflip-site-link {
  padding-right: 30px;
  float: right;
  position: relative;
  top: -7px;
}

.pageflip-page-pair img {
  float: left;
}

.pageflip-ad-page,
.pageflip-blank-page {
  float: left;
  background-color: #000;
}

#pageflip-control-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}
